.bg-rojo{
  background-color: #d91c22;
}

#color-de-texto{
  color: #ededed;
}

#navbarDropdownMenuLink{
  background-color: #DE1D22;
}

#color-fondo-c2{
  background-color: #d91c22;
}

.bg-gris{
  background-color: #ededed; 
}

.bg-black {
  background-color: black;
}
