.bg-rojo{
  background-color: #d91c22;
}

#color-de-texto{
  color: #ededed;
}

#navbarDropdownMenuLink{
  background-color: #DE1D22;
}

.bg-gris{
  background-color: #ededed;
}

.bg-black{
  background-color: black;
}

.fa-facebook-f{
  color: white;
}

.fa-twitter{
  color: white;
}

.fa-instagram{
  color: white;
}

.fa-youtube{
  color: white;
}
